.content .create-btn{
    float: right;
}

.sidebar .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 400px;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-top: 55px;
    padding-bottom: 100px;
}

.card-body .row {
    margin-top: 25px;
}

.la {
    font-size: 19px !important;
    padding: 3px;
}

.select2-container {
    min-width: 100%;
    width: auto;
}

.table {
    overflow: auto;
    display: block !important;
}
.col-lg-12 #subinpt{
    margin-left: 10px;
}

.required-star {
    color: rgb(241, 67, 67);
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
     width: 100% !important;
}

.select2-container .select2-selection--multiple {
   
    min-height: 38px;
   
}
.select2-container {
    min-width: 100%;
    width: 100% !important;
}